[Unit]
Description=consul server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
NotifyAccess=all
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart={{ bin_consul_sys }} agent -config-dir={{ path_consul }}/config
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
#WantedBy=multi-user.target

