OPTIONS=' -log-level debug -consul-addr={{ ansible_default_ipv4.address }}:{{ consul_port }} -template={{ path_nginx }}{{ path_nginx_config }}/{{ name_upstream }}.template:{{ path_nginx }}{{ path_nginx_config }}/{{ name_upstream }}.conf:"sudo systemctl reload {{ nginx_service_consul }}" \ -template={{ path_nginx }}{{ path_nginx_config }}/{{ name_location }}.template:{{ path_nginx }}{{ path_nginx_config }}/{{ name_location }}.conf:"sudo systemctl reload {{ nginx_service_consul }}" -retry 30s -wait 1s'
