version: '2'
services:
   registrator:
     restart: always
     image: gliderlabs/registrator:latest
     mem_limit: 512MB
     command: "-cleanup -tags {{ datacenter_consul }} -ip {{ ansible_default_ipv4.address }} consul://{{ ansible_default_ipv4.address }}:{{ consul_port }}"
     volumes:
       - /var/run/docker.sock:/tmp/docker.sock
